body {
    font-family: $font-Primary;
    font-weight: 400;
    /*font-size: 16px;*/
    line-height: 1.7;
    color: #ccc;
}

%heading {
    font-family: $font-Secondary;
    font-weight: 800;
}

.heading-1 {
    @extend %heading;
    font-size: 4.5rem;
    color: $color-dark;
    line-height: 1;
}