.blogs {
  display: grid;
  grid: 1fr / repeat(3, minmax(9.5rem, 1fr)) ;
  align-items: center;
  justify-items: center;
  background-image: url('../images/plush.jpg');
  background-size: contain;
  background-repeat: no-repeat;

  &__header {
    position: relative;
    left: 3rem;

    justify-self: start;
    align-self: start;
    font-size: 5rem;
  }
  
  &__posts {
    padding: 3rem;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, minmax(30rem, 1fr)) ;

    text-decoration-line: none;

    gap: 2rem ;
  }
  
  &__post {
    // justify-self: center;
    position: relative;
    width: 100%;
    border-radius: 4px;
    background-color: rgba(227, 241, 229, 0.884);
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
  }
  &__header-2 {
    font-size: 2.8rem;
  }
  &__date {
    font-size: 1.5rem;
  }

}