
.splash {
  // last thing I was doing was to try and get a smooth scroll
  // scroll-snap-align: center;
  display: grid;
  
  position: absolute;
  top: 0rem;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.959);
  
  &__arrow {
    position: relative;
    bottom: 5rem;
    justify-self: center;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 1rem 2rem rgba(#000,.2);
      
      &::after {
        transform: scaleX(2.4) scaleY(2.6);
        opacity: 0;
      }
    }
  }

  &__text {
    // background-color: transparent;
    position: absolute;
    top: 18rem;
    width: 100%;
    text-align: center;
    z-index: 100;
    text-transform: uppercase;
    color: $color-grey-light;
    font-size: 4rem;
  }
}

.summary {
  grid-column: sidebar-start / full-end;
  grid-row: 2/3;
  background-image: url(../images/sky.jpg);
  background-size: cover;
  // background-color: skyblue;
  // scroll-snap-align: center;

  display: grid;
  grid-template-rows: max-content max-content;
  // grid-template-columns: repeat(3, 1fr);

  gap: 1.5rem;

  .svg {
    grid-column: 1/-1;
    list-style: none;

    display: grid;
    grid: repeat(2, 1fr) / repeat(5, 1fr);
    gap: 4rem;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;

    font-size: 3rem;


    &__icon {
      height: 5rem;
      width: 5rem;
    }
  }

  &__description {
    color: $color-dark;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    justify-self: center;
    grid-column: 1/-1;
    grid-row: 3/4;

  }
  
}

.portfolio {
  grid-column: sidebar-start / full-end;
  grid-row: 3/4;

  .projects {
    background-color: crimson;
    display: grid;
    grid: repeat(4, minmax(20rem, 1fr)) / minmax(3rem, 3%) repeat(7, 1fr) minmax(3rem, 3%);
    &__title {
      justify-self: center;
      align-self: center;
      font-size: 4rem;
      color: #1b1515d2;
      grid-column: 5/6;
    }

    &__gallery {
      grid-column: 2/9;
      grid-row: 2/5;
      display: grid;
      grid: repeat(3, 1fr) / repeat(5, 1fr) ;
      
      &-card {
    
        color: black;
        &-1{
          grid-column: 2/3;
        }
        &-2{
          grid-column: 3/4;
        }
        &-3{
          grid-column: 4/5;
        }
      }
    }
  }


}
