
.splash {
  // grid-column: 1/-1;

  position: fixed;
  display: grid;
  
  grid: 111vh /  1fr;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.959);
  
  &__arrow {
    position: absolute;
    bottom: 5rem;

    cursor: pointer;
    transition: all .2s;

    &:hover {
      transform: translateY(-6px);
      box-shadow: 0 1rem 2rem rgba(#000,.2);
      
      &::after {
        transform: scaleX(2.4) scaleY(2.6);
        opacity: 0;
      }
    }
  }

  &__text {
    // background-color: transparent;
    position: absolute;
    top: 18rem;
    width: 100%;
    text-align: center;
    z-index: 100;
    text-transform: uppercase;
    color: $color-grey-light;
    font-size: 4rem;
  }
}