.article {
  display: grid;
  background-color: rgba(227, 241, 229, 0.233);
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 740px 1fr;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
.article__content {
  grid-column: 2;
  display: grid;
  grid-column: 2/3;
  justify-content: center;
  justify-items: center;
  align-items: center;
  gap: 1rem;
  color: black;
}
.article__content h1 {
  font-size: 5rem;
}
.article__content h3 {
  justify-self: left;
  font-size: 3rem;
}
.article__content h4 {
  justify-self: left;
  font-size: 3rem;
}
.article__content blockquote {
  padding-left: 10px;
  color: #666;
  border-left: 3px solid black;
}
.article__content code {
  justify-self: center;
  font-size: 1.5rem;
  background-color: rgba(221, 216, 216, 0.719);
}
.article__content p {
  font-size: 2rem;
}
.article__content ul {
  font-size: 2rem;
}
.article__content ol {
  font-size: 2rem;
}
