.sidenav {
  display: -ms-grid;
  display: grid;
  height: 100%;
  /* Full-height: remove this if you want "auto" height */
  width: 160px;
  /* Set the width of the sidebar */
  position: fixed;
  /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1;
  /* Stay on top */
  top: relative;
  /* Stay at the top */
  left: 0;
  background-color: #111;
  /* Black */
  padding-top: 20px;
}

.sidenav h2 {
  font-size-adjust: auto;
  color: #fff;
}

.sidenav .picture-icon {
  background: #ddd;
  border-radius: 50%;
  height: 125px;
  width: 140px;
}

.sidenav .icon-contanier {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
}

.sidenav .icon-contanier .twitter-i {
  height: 20px;
  width: 20px;
}

.sidenav .icon-contanier .linkedIn-icon {
  height: 60px;
  width: 60px;
}

.sidenav .icon-contanier .github-icon {
  height: 20px;
  width: 20px;
}
