@import url("https://fonts.googleapis.com/css?family=Squada+One&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

@media only screen and (max-width: 37.5em) {
  html {
    font-size: 35%;
  }
}

@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

::-moz-selection {
  background-color: #4c73a0b7;
  color: #fff;
}

::selection {
  background-color: #4c73a0b7;
  color: #fff;
}

body {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 400;
  /*font-size: 16px;*/
  line-height: 1.7;
  color: #ccc;
}

.heading-1 {
  font-family: "Source Sans Pro", "sans-serif";
  font-weight: 800;
}

.heading-1 {
  font-size: 4.5rem;
  color: #292121;
  line-height: 1;
}

@-webkit-keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
            transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
            transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
            transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
            transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(3rem);
            transform: translateY(3rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@-webkit-keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

@keyframes moveInTop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-6rem);
            transform: translateY(-6rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
}

.layout {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: [head-start] minmax(7rem, min-content) [head-end body-start] 1fr [body-end footer-start] minmax(17rem, min-content) [footer-end];
      grid-template-rows: [head-start] minmax(7rem, -webkit-min-content) [head-end body-start] 1fr [body-end footer-start] minmax(17rem, -webkit-min-content) [footer-end];
      grid-template-rows: [head-start] minmax(7rem, min-content) [head-end body-start] 1fr [body-end footer-start] minmax(17rem, min-content) [footer-end];
}

.header {
  z-index: 1;
  grid-row: head-start / head-end;
}

.footer {
  grid-row: footer-start / footer-end;
}

.header {
  display: -ms-grid;
  display: grid;
  grid: 1fr /  1fr 55% 1fr;
  background-color: black;
  opacity: 0.8;
  color: white;
  height: 7rem;
  width: 100%;
  padding: 0;
  margin: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  font-size: 2rem;
  text-transform: uppercase;
  text-decoration: none;
  color: #e9e9e9;
}

.header .pages {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  display: -ms-grid;
  display: grid;
  grid: 1fr/repeat(2, 1fr);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.header .pages__link {
  text-decoration: none;
  -ms-grid-column-align: center;
      justify-self: center;
  translate: all .2s;
}

.header .pages__link:hover, .header .pages__link:active {
  background-color: rgba(38, 75, 97, 0.3);
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.footer {
  display: -ms-grid;
  display: grid;
  grid: 1fr/repeat(3, 1fr);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-color: black;
  color: white;
}

.footer__copyright {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  font-size: 2rem;
  font-weight: 300;
}

.footer__copyright-span {
  color: #a8acb4;
}

.footer__logo {
  font-size: 3rem;
}

.footer__medialinks {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
}

.footer__links {
  height: 100%;
  width: 7rem;
}

.contanier {
  grid-row: body-start / body-end;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100rem 80vh 1fr;
      grid-template-rows: 100rem 80vh 1fr;
  -ms-grid-columns: [full-start] minmax(3rem, 1fr) [space-end center-start] ([col-start] minmax(min-content, 15rem) [col-end])[8] [center-end] minmax(3rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(3rem, 1fr) [space-end center-start] repeat(8, [col-start] minmax(-webkit-min-content, 15rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
      grid-template-columns: [full-start] minmax(3rem, 1fr) [space-end center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end]) [center-end] minmax(3rem, 1fr) [full-end];
}

.craft {
  grid-column: 1 / -1;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.about {
  grid-column: 1 / -1;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

.portfolio {
  grid-column: 1 / -1;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
}

.aboutPage {
  background-color: turquoise;
}

.blogs {
  display: -ms-grid;
  display: grid;
  grid: 1fr/5% repeat(3, minmax(9.5rem, 1fr)) 5%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  background-image: url(../assets/img/plush.jpg);
  background-size: cover;
}

.blogs__bg {
  background-size: cover;
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.blogs__header {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  position: relative;
  top: 1rem;
  left: 3.5rem;
  color: #919401;
  -ms-grid-column-align: start;
      justify-self: start;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
  font-size: 5rem;
}

.blogs__posts {
  -ms-grid-column: 2;
  -ms-grid-column-span: 3;
  grid-column: 2/5;
  padding: 3rem;
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (minmax(18rem, 1fr))[3];
      grid-template-columns: repeat(3, minmax(18rem, 1fr));
  gap: 2rem;
  text-decoration: none;
}

.blogs__post {
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border-radius: 4px;
  background-color: rgba(227, 241, 229, 0.801);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.blogs__header-2 {
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 2.8rem;
}

.blogs__date {
  font-size: 1.5rem;
}

.splash {
  position: fixed;
  display: -ms-grid;
  display: grid;
  grid: 111vh /  1fr;
  justify-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.959);
}

.splash__arrow {
  position: absolute;
  bottom: 5rem;
  cursor: pointer;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.splash__arrow:hover {
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
          box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.splash__arrow:hover::after {
  -webkit-transform: scaleX(2.4) scaleY(2.6);
          transform: scaleX(2.4) scaleY(2.6);
  opacity: 0;
}

.splash__text {
  position: absolute;
  top: 18rem;
  width: 100%;
  text-align: center;
  z-index: 100;
  text-transform: uppercase;
  color: #e9e9e9;
  font-size: 4rem;
}

.card {
  position: relative;
  width: 100%;
  color: #000000;
  background-blend-mode: screen;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.card__picture {
  height: 100%;
  width: 100%;
}

.card__details {
  font-size: 2rem;
  position: absolute;
  left: 6rem;
  top: 5rem;
  opacity: 0;
  z-index: 3;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.card__details__heading-span {
  font-size: 3rem;
}

.card__details__sub {
  font-family: "Lora", "serif";
  color: whitesmoke;
}

.card__btn {
  opacity: 0;
  position: absolute;
  left: 10rem;
  bottom: 6rem;
}

.card:hover {
  -webkit-box-shadow: 1.2rem 1.2rem 0.2rem 0.1rem rgba(0, 0, 255, 0.2);
          box-shadow: 1.2rem 1.2rem 0.2rem 0.1rem rgba(0, 0, 255, 0.2);
}

.card:hover .card__picture {
  opacity: 0;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
}

.card:hover .card__details {
  -webkit-animation: moveInTop  ease .7s;
          animation: moveInTop  ease .7s;
  opacity: 1;
}

.card:hover .card__btn {
  -webkit-animation: moveInBottom  ease .7s;
          animation: moveInBottom  ease .7s;
  opacity: 1;
}

.portfolio {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#224a53), to(rgba(34, 74, 83, 0.301)));
  background-image: linear-gradient(to bottom, #224a53, rgba(34, 74, 83, 0.301));
}

.portfolio__bg {
  position: absolute !important;
  top: 0;
  left: 0;
  height: 100%;
  background-size: cover;
  width: 100%;
}

.projects {
  display: -ms-grid;
  display: grid;
  grid: repeat(4, minmax(20rem, 1fr)) 6rem/minmax(6rem, 3%) repeat(7, 1fr) minmax(6rem, 3%);
}

.projects__title {
  font-family: "Source Sans Pro", "sans-serif";
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  font-size: 4rem;
  color: #1b1515d2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column: 5;
  -ms-grid-column-span: 1;
  grid-column: 5/6;
}

.projects__title--animated {
  -webkit-animation: moveInLeft 1s ease 1s;
          animation: moveInLeft 1s ease 1s;
}

.projects__gallery {
  -ms-grid-column: 2;
  -ms-grid-column-span: 7;
  grid-column: 2/9;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  grid-row: 2/5;
  display: -ms-grid;
  display: grid;
  grid: repeat(2, 1fr)/repeat(3, minmax(-webkit-max-content, 1fr));
  grid: repeat(2, 1fr)/repeat(3, minmax(max-content, 1fr));
}

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  -webkit-transition: all .2s;
  transition: all .2s;
  position: relative;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: translateY(-0.3rem);
          transform: translateY(-0.3rem);
  -webkit-box-shadow: 0 1rem 2rem rgba(41, 33, 33, 0.2);
          box-shadow: 0 1rem 2rem rgba(41, 33, 33, 0.2);
}

.btn:hover::after {
  -webkit-transform: scale(1.4) scaleY(1, 6);
          transform: scale(1.4) scaleY(1, 6);
  opacity: 0;
}

.btn:active, .btn:focus {
  -webkit-transform: translateY(-0.1rem);
          transform: translateY(-0.1rem);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(41, 33, 33, 0.2);
          box-shadow: 0 0.5rem 1rem rgba(41, 33, 33, 0.2);
}

.btn-text:link, .btn-text:visited {
  font-size: 2rem;
  color: #264b61;
  display: inline-block;
  border-bottom: 1px none #264b61;
  padding: 3px;
}

.btn-text:hover {
  background-color: rgba(38, 75, 97, 0.6);
  color: whitesmoke;
  -webkit-box-shadow: 0 1rem 2rem rgba(41, 33, 33, 0.15);
          box-shadow: 0 1rem 2rem rgba(41, 33, 33, 0.15);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.btn-text:active {
  -webkit-box-shadow: 0 0.5rem 1rem rgba(41, 33, 33, 0.15);
          box-shadow: 0 0.5rem 1rem rgba(41, 33, 33, 0.15);
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.modal {
  z-index: 100;
  background: #fffcfc;
  position: relative;
  margin: 1.75rem auto;
  border-radius: 3px;
  max-width: 70vw;
  padding: 2rem;
  font-family: "Source Sans Pro", "sans-serif";
  color: black;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  outline: 0;
}

.modal__picture {
  background-color: rgba(53, 53, 53, 0.03);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: .3rem;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
  width: 100%;
}

.modal__title {
  font-size: 4.5rem;
}

.modal__sub-title {
  font-family: "Lora", "serif";
  font-size: 2rem;
  color: gray;
}

.modal__about {
  font-family: "Proza Libre", "sans-serif";
  font-size: 1.8rem;
}

.modal__stat {
  font-family: "Lora", "serif";
  font-size: 1.5rem;
  color: gray;
}

.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.modal-close-button {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
  color: #000;
  opacity: .3;
  cursor: pointer;
  border: none;
}

.about {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.836)), to(#224a53));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.836), #224a53);
  background-size: cover;
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 20% 1fr;
      grid-template-rows: 20% 1fr;
}

@media only screen and (max-width: 56.25em) {
  .about {
    -ms-grid-rows: 10% 40% 40%;
        grid-template-rows: 10% 40% 40%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.about__heading {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.about__description {
  grid-column: 1/-1;
  display: -ms-grid;
  display: grid;
  grid: 80% 1fr / 35% 1fr;
  padding: 0 1.5rem;
  font-size: 2rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__description-photo {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  top: 5rem;
  height: 100%;
  width: 100%;
}

.about__description-media {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  grid: 1fr/repeat(4, 25%);
  gap: 1rem;
  height: 2rem;
  width: 12rem;
  padding-bottom: 10rem;
  padding-right: 2rem;
}

.about__description-p {
  font-family: "Proza Libre", "sans-serif";
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

.hexa, .hexa div {
  margin: 0 auto;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  overflow: hidden;
  width: 30rem;
  height: 30rem;
}

@media only screen and (max-width: 75em) {
  .hexa, .hexa div {
    width: 23rem;
    height: 23rem;
  }
}

.hexa {
  width: 32.5rem;
  height: 23rem;
}

@media only screen and (max-width: 75em) {
  .hexa {
    width: 27.5rem;
    height: 18rem;
  }
}

.hexa div {
  width: 100%;
  height: 100%;
}

.hexa {
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg);
}

.hex1 {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.hex2 {
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
}

.craft {
  color: black;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 15% 40% 10% 1fr;
      grid-template-rows: 15% 40% 10% 1fr;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), color-stop(rgba(187, 179, 179, 0.39)), to(rgba(255, 255, 255, 0.75)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(187, 179, 179, 0.39), rgba(255, 255, 255, 0.75));
}

.craft__bg {
  background-size: cover;
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -10;
}

.craft__heading {
  color: white;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.craft__heading-2 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column-align: center;
      justify-self: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.craft__badges {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  display: -ms-grid;
  display: grid;
  grid: 1fr/repeat(4, 1fr);
  gap: 2rem;
  margin: 0 1rem;
}

@media only screen and (max-width: 75em) {
  .craft__badges {
    padding-top: 6rem;
    margin: 0 5rem;
  }
}

.craft__badge-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 55% 1fr 30%;
      grid-template-rows: 55% 1fr 30%;
  width: 100%;
  gap: .5rem;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 75em) {
  .craft__badge-container {
    -ms-grid-rows: 40% 15% 1fr;
        grid-template-rows: 40% 15% 1fr;
  }
}

@media only screen and (max-width: 56.25em) {
  .craft__badge-container {
    -ms-grid-rows: 20% 15% 1fr;
        grid-template-rows: 20% 15% 1fr;
  }
}

@media only screen and (max-width: 37.5em) {
  .craft__badge-container {
    -ms-grid-rows: 20% 10% 1fr;
        grid-template-rows: 20% 10% 1fr;
  }
}

.craft__badge-background-icon {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 0;
  height: 0;
  border: 11rem solid transparent;
  border-bottom: 10rem solid #264b61;
  position: relative;
  top: -11rem;
}

@media only screen and (max-width: 75em) {
  .craft__badge-background-icon {
    border: 8rem solid transparent;
    border-bottom: 7rem solid #264b61;
  }
}

@media only screen and (max-width: 56.25em) {
  .craft__badge-background-icon {
    border: 6rem solid transparent;
    border-bottom: 5.2rem solid #264b61;
  }
}

@media only screen and (max-width: 37.5em) {
  .craft__badge-background-icon {
    border: 4rem solid transparent;
    border-bottom: 3rem solid #264b61;
  }
}

.craft__badge-background-icon:after {
  content: '';
  position: absolute;
  left: -11rem;
  top: 10rem;
  width: 0;
  height: 0;
  border: 11rem solid transparent;
  border-top: 10rem solid #264b61;
}

@media only screen and (max-width: 75em) {
  .craft__badge-background-icon:after {
    left: -8rem;
    top: 7rem;
    border: 8rem solid transparent;
    border-top: 7rem solid #264b61;
  }
}

@media only screen and (max-width: 56.25em) {
  .craft__badge-background-icon:after {
    left: -6rem;
    top: 5.05rem;
    border: 6rem solid transparent;
    border-top: 5rem solid #264b61;
  }
}

@media only screen and (max-width: 37.5em) {
  .craft__badge-background-icon:after {
    left: -4rem;
    top: 3rem;
    border: 4rem solid transparent;
    border-top: 3rem solid #264b61;
  }
}

.craft__badge-icon {
  position: relative;
  z-index: 3;
  top: 5rem;
  left: -5rem;
}

@media only screen and (max-width: 75em) {
  .craft__badge-icon {
    top: 4.5rem;
    left: -2.5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .craft__badge-icon {
    top: 3rem;
    left: -2rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .craft__badge-icon {
    top: 2rem;
    left: -1.2rem;
  }
}

@media only screen and (max-width: 75em) {
  .craft__badge-icon * svg {
    height: 5rem;
    width: 5rem;
  }
}

@media only screen and (max-width: 56.25em) {
  .craft__badge-icon * svg {
    height: 4rem;
    width: 4rem;
  }
}

@media only screen and (max-width: 37.5em) {
  .craft__badge-icon * svg {
    height: 2.5rem;
    width: 2.5rem;
  }
}

.craft__badge-skill {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  font-size: 2.5rem;
  font-family: "Lora", "serif";
}

.craft__badge-description {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  font-family: "Proza Libre", "sans-serif";
  font-size: 2rem;
  padding-left: 2.5rem;
}

.svg {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  grid-column: 1/-1;
  list-style: none;
  display: -ms-grid;
  display: grid;
  grid: repeat(2, 1fr)/repeat(5, 1fr);
  gap: 4rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  margin-top: 3rem;
  font-size: 3rem;
}

.svg__icon {
  height: 5rem;
  width: 5rem;
}

.article {
  display: -ms-grid;
  display: grid;
  background-color: rgba(227, 241, 229, 0.233);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 740px 1fr;
      grid-template-columns: 1fr 740px 1fr;
  font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

.article__content {
  -ms-grid-column: 2;
  grid-column: 2;
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1rem;
  color: black;
}

.article__content h1 {
  font-size: 5rem;
}

.article__content h3 {
  -ms-grid-column-align: left;
      justify-self: left;
  font-size: 3rem;
}

.article__content h4 {
  -ms-grid-column-align: left;
      justify-self: left;
  font-size: 3rem;
}

.article__content blockquote {
  padding-left: 10px;
  color: #666;
  border-left: 3px solid black;
}

.article__content code {
  -ms-grid-column-align: center;
      justify-self: center;
  font-size: 1.5rem;
  background-color: rgba(221, 216, 216, 0.719);
}

.article__content p {
  font-size: 2rem;
}

.article__content ul {
  font-size: 2rem;
}

.article__content ol {
  font-size: 2rem;
}
