.about {
  grid-column: sidebar-start / full-end;
  grid-row: 1/2;
  background-image: url(../assets/img/sky.jpg);
  background-size: cover;
  display: grid;
  grid-template-rows: repeat(3, 30%);
  gap: 1.5rem;
}
.about .svg {
  grid-column: 1/-1;
  list-style: none;
  display: grid;
  grid: repeat(2, 1fr) / repeat(5, 1fr);
  gap: 4rem;
  align-items: center;
  justify-items: center;
  margin-top: 3rem;
  font-size: 3rem;
}
.about .svg__icon {
  height: 5rem;
  width: 5rem;
}
