.about {
  
  grid-column: sidebar-start / full-end;
  grid-row: 1/2;
  background-image: url(../assets/img/sky.jpg);
  background-size: cover;
 
  // new grid in section for your drunk self 
  display: grid;
  grid-template-rows: 10% repeat(3, 28%);
  
  &__heading {
    grid-row: 1/2;
    justify-self: center;
    align-self: center;
  }
  
  &__badges {
    grid-row: 2/3;
    // new grid for badges
    display: grid;
    grid: 1fr / repeat(4, 1fr) ;
    gap: 1rem 
  }

  &__badge {

    &-container {
      display: grid;
      grid-template-rows: 55% 1fr 30%;
      // width: 100%;
      justify-items: center;
      align-items: center;
      box-shadow: 0 3px 3px $color-dark;
      border-radius: 3px;

    }

    &-background-icon {
      // badge background
      width: 0;
      height: 0;
      border: 13rem solid transparent;
      border-bottom: 10rem solid $color-primary;
      position: relative;
      top: -13rem;
      
      &:after {
        content: '';
        position: absolute;
        left: -13rem;
        top: 10rem;
        width: 0;
        height: 0;
        border: 13rem solid transparent;
        border-top: 10rem solid $color-primary;
      }
    }

    &-icon {
      position: relative;
      z-index: 3;
      top: 5rem;
      left: -5rem;
    }
    // &--1{grid-row: 1/2;}
    // &--2{grid-row: 2/3;}
    // &--3{grid-row: 3/4;}
    // &--4{grid-row: 4/5;}

    &-skill {
      grid-row: 2/3;
      font-size: 2.5rem;
    }
    &-description {
      grid-row: 3/4;
      font-size: 2rem;

    }
  }

  &__description {
    grid-row: 3/4;
    grid-column: 1/-1;
    color: $color-dark;
    padding: 1.5rem;
    font-size: 2rem;
    text-align: center;
    align-self: center;
    justify-self: center;
  }

  .svg {
    grid-column: 1/-1;
    list-style: none;

    display: grid;
    grid: repeat(2, 1fr) / repeat(5, 1fr);
    gap: 4rem;
    align-items: center;
    justify-items: center;
    margin-top: 3rem;

    font-size: 3rem;

    &__icon {
      height: 5rem;
      width: 5rem;
    }
  }
}