.card{
  position: relative;
  justify-items: center;
  width: 100%;
  color: #000000;
  background-blend-mode: screen;
  transition: all .2s ease;

  &__picture{
    background-size: cover;
    height: 100%;
    width: 100%;

    // box-shadow: 0 1.5rem 4rem rgba($color-black, .15); on hover
    &--1{
      background-image:url(../assets/img/bb.png);
    }

    &--2{
      background-image:url(../assets/img/nexter.png);
    }

    &--3{
      background-image:url(../assets/img/blub.jpg);
    }
  }

  &__details {
    font-size: 2rem;
    position: absolute;
    left: 4rem;
    top: 5rem;
    opacity: 0;
    z-index: 3;
    transition: all .2s;
    
    &__heading-span {
      font-size: 3rem;
    }
    
    &__sub {
      color: whitesmoke;
    }
    
    &--animated {
      // animation-fill-mode: forwards;
    }
    
  }
  
  &:hover .card__picture{
    opacity:0;
    // box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    transform: translateY(-3px);
    
  }
  &:hover .card__details {
    animation: moveInTop  ease .8s;
    opacity: 1;
  }
}