.card{
  position: relative;
  width: 100%;
  color: #000000;
  background-blend-mode: screen;
  transition: all .2s ease;

  &__picture{
    background-size: cover;
    height: 100%;
    width: 100%;

    &--1{
      background-image:url(../assets/img/bb.png);
    }
    
    &--2{
      background-image:url(../assets/img/nexter.png);
    }
    
    &--3{
      background-image:url(../assets/img/blub.jpg);
    }
  }
  
  &__details {
    font-size: 2rem;
    position: absolute;
    left: 6rem;
    top: 5rem;
    opacity: 0;
    z-index: 3;
    transition: all .2s;
    
    &__heading-span {
      font-size: 3rem;
    }
    
    &__sub {
      color: whitesmoke;
    }
    
    // &--animated {
    //   // animation-fill-mode: forwards;
    // }
    
  }
  
  &__btn {
    opacity: 0;
    position: absolute;
    left: 10rem;
    bottom: 6rem;
  }
  
  &:hover {
    // box-shadow: 0 1.5rem 4rem rgba($color-dark, .15); 
    box-shadow: 1.2rem 1.2rem .2rem .1rem rgba(0, 0, 255, .2);
  }

  &:hover .card__picture{
    opacity:0;
    transform: translateY(-3px);
  }

  &:hover .card__details {
    animation: moveInTop  ease .7s;
    opacity: 1;
  }

  &:hover .card__btn {
    animation: moveInBottom  ease .7s;
    opacity: 1;
  }
}