.card {
  position: relative;
  justify-items: center;
  width: 100%;
  color: #000000;
  background-blend-mode: screen;
  transition: all 0.2s ease;
}
.card__picture {
  background-size: cover;
  height: 100%;
  width: 100%;
}
.card__picture--1 {
  background-image: url(../assets/img/blub.jpg);
}
.card__details {
  font-size: 2rem;
  position: absolute;
  left: 4rem;
  top: 5rem;
  z-index: 3;
  transition: all 0.2s;
}
.card__details__heading-span {
  display: block;
  font-size: 3rem;
}
.card__details__sub {
  display: block;
}
.card__details--animated {
  transform: inherit;
  animation: moveInTop 0.5s ease 0.8s;
}
.card:hover {
  opacity: 0;
}
