.portfolio{
  position: relative;
  background-image: linear-gradient(to bottom, rgb(34, 74, 83), rgba(34, 74, 83, 0.301));
  
  &__bg {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    background-size: cover;
    width: 100%;

  }
}
.projects { 

  display: grid;
  grid: repeat(4, minmax(20rem, 1fr)) 6rem / minmax(6rem, 3%) repeat(7, 1fr) minmax(6rem, 3%);
  
  &__title {
    font-family: $font-Primary;
    justify-self: center; 
    align-self: center;
    font-size: 4rem;
    color: #1b1515d2;
    grid-row: 1/2;
    grid-column: 5/6;

    &--animated {
      animation: moveInLeft 1s ease 1s ;
    }
  }

  &__gallery {
    grid-column: 2/9;
    grid-row: 2/5;
    display: grid;
    grid: repeat(2, 1fr) / repeat(3, minmax(max-content , 1fr));     
  }
}