.header {
    display: grid;
    grid: 1fr /  1fr 60% 1fr;
    padding-left: 2.5rem;
    align-items: center;
    font-size: 2rem;
    text-transform: uppercase;
    text-decoration: none;
    color: $color-dark;
    background-color: rgba($color-dark, .9);
    
    
    .links {
        display: grid;
        justify-items: center;
        
    }
    
    &__link {
        background-color: transparent;
        position: relative;
        translate: all .2s;
        padding-left: 1.5rem;
    }

    &__link:hover,
    &__link:active {
        background-color: rgba($color-primary, .3);
        transform: translateY(-3px);
    }
 
}