.header {
    
    display: grid;
    grid: 1fr /  1fr 60% 1fr;
    // working towards a sticky header 
    // position: fixed;
    background-color: black;
    opacity: 0.8;
    color: white;
    // top: 0rem;
    // left: 0rem;`
    height: 7rem;
    width: 100%;

    padding: 0;
    margin: 0;

    align-items: center;
    justify-items: center;

    font-size: 2rem;
    text-transform: uppercase;

    text-decoration: none;
    color: $color-grey-light;
    
    
    .pages {
        grid-column: 3/4;

        display: grid;
        grid: 1fr / repeat(2, 1fr) ;
        justify-items: center;
        align-items: center;
        height: 100%;
        width: 100%;
        
        &__link {
            text-decoration: none;

            translate: all .2s;
        }
        
        &__link:hover,
        &__link:active {
            background-color: rgba($color-primary, .3);
            transform: translateY(-3px);
        }   
    }
}