.layout { 
    display: grid;
    grid-template-rows:  [head-start] minmax(6rem, max-content) [head-end body-start] 1fr [body-end footer-start] minmax(6rem, max-content)[footer-end];

}

.header {
    z-index: 1;
    grid-row: head-start / head-end ;
    background-color: transparent;
}

.contanier {
    grid-row: body-start / body-end ;
   
    display: grid;
    grid-template-rows: 87.5vh repeat(4, 1fr);
    grid-template-columns: [sidebar-start] 8rem [sidebar-end full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    // overflow-y: scroll;
    // scroll-behavior: smooth;
    // scroll-snap-type: y mandatory;
}

.footer {
    grid-row: footer-start / footer-end;
}
