.layout { 
    display: grid;
    grid-template-rows:  [head-start] minmax(min-content, max-content) [head-end body-start] 1fr [body-end footer-start] minmax(6rem, max-content)[footer-end];

}

.header {
    z-index: 1;
    grid-row: head-start / head-end ;
}

.footer {
    grid-row: footer-start / footer-end;
}
