.header {
  margin-top: 11rem;
  padding: .3em 0 3em;
}

.title {
  color: #fff;
  font-size: 2em;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #999999;
  font-size: .9em;
  margin-right: 1.3em;
  text-decoration: none;
}

.nav-item:hover {
  color: #666666;
}

.active-nav-item {
  color: #333333;
}

.link{
  color: #999999;
}
